body {
	padding-top: 5rem;
}
.content{
	padding: 1.5rem;
}

.reset {
	margin-left: 10px;
	cursor: pointer;
	color: red;
}

.social{
	height: 20px;
	width: 20px;
	margin-right: 5px;
}

.photo{
	border-radius: 5%;
	margin-bottom: 20px;
}

#logo_small {
	display: none;
}

ul.blog {
	list-style-type: none;
	padding-left: 0;
}

a {

	color: #2f2f2f;
}

@media (max-width:640px) {

	#logo {		
		display: none;
	}


	#logo_small {
		display: block;
	}


}