{% extends "base.html" %}
{% block title %}
About
{% endblock %}
{% block content %}



<div class="row">
    <div class="col-sm-8">
		<p>Daniel is a SQL Server performance optimisation specialist and database developer based in Sydney, Australia. Daniel has over 12 years professional experience building bespoke data solutions. His passion is to help to build technologies that enable small start-ups to grow into viable enterprises. Daniel has been writing code since he got his first computer, the mighty Halikan 486 sporting Windows 3.11, back in 1994 and has been hooked on SQL Server development ever since he got his hands on a copy of SQL Server 2000.</p>
    </div>
    <div class="col-sm-4" style="text-align: center;">
		<img class="photo" src="{{url_for('static', filename='Daniel.jpg')}}" />

		<p><a href="https://www.linkedin.com/in/brinkdaniel/"><img class="social"  src="{{url_for('static', filename='LI-In-Bug.png')}}" />https://www.linkedin.com/in/brinkdaniel/</a>
		</p>
		
		<p><a href="https://github.com/brink-daniel/sqlmedic"><img class="social" src="{{url_for('static', filename='GitHub-Mark-32px.png')}}" />https://github.com/brink-daniel/sqlmedic</a>
		</p>

		<p><img class="social" src="{{url_for('static', filename='email.png')}}" />brink.daniel@gmail.com
		</p>
    </div>
   
  </div>






<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="a10637b8-d758-46a8-8efa-6c3ad46eb389" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>

<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="fcc2c0c5-0c62-4067-b08b-aa70c24c6c01" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>


<script>

	$(document).ready(function () {

		$('#nav-about').addClass('active');
		
	});

	$(document).on('keypress',function(e) {
		if(e.which == 13) {
			do_search();
		}
	});

	$('#search-button').click(function(){
		do_search();
	});

	var do_search = function(){
		if ($('#search').val().length > 0)
		{
			window.location.href = "{{ url_for('home') }}?search=" + $('#search').val();
		}
	};

</script>



{% endblock %}