{% extends "base.html" %}
{% block title %}
SQL Medic
{% endblock %}
{% block content %}

<p>SQL Medic is a public t-sql script library for SQL Developers and Administrators. Please feel free to use any of the scripts or take inspiration
	from them. If you see an error, would like to contribute a script to the library or need help with your SQL Server,
	please contact Daniel at brink.daniel@gmail.com</p>


<h4>Latest scripts</h4>

<ul class="blog">
	{% for file in scripts %}
	<li class="script">
		<h5>
		<a href="{{ url_for('script', script_id=file.title) }}">{{ file.title }}</a>
		<small>{{ file.date.strftime('%d %b %Y')  }}</small>
	</h5>
		<p>{{ file.description }}</p>
	</li>
	{% endfor %}
</ul>


<a href="{{ url_for('index') }}">Get more scripts</a>



<script>

	$(document).ready(function () {

	
		$(document).on('keypress',function(e) {
			if(e.which == 13) {
				do_search();
			}
		});


		$('#search-button').click(function(){
			do_search();
		});

		var do_search = function(){
			if ($('#search').val().length > 0)
			{
				window.location.href = "{{ url_for('index') }}?search=" + $('#search').val();
			}
		};

		$('#nav-home').addClass('active');
		

		
	});



</script>


{% endblock %}