{% extends "base.html" %}
{% block title %}
{{ scripts.title }}
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='prism.css')}}" />
{% endblock %}


{% block content %}
	
	<h5>{{ scripts.title }}</h5>

	<p>{{ scripts.author + ", " + scripts.date }}</p>

	<p><strong>Description:</strong> {{ scripts.description }}</p>
	<p><strong>Category:</strong> {{ scripts.category }}</p>

	
	<pre><code class="language-sql">{{ scripts.script }}</code></pre>

	
	<script src="{{ url_for('static', filename='prism.js')}}"></script>
	<script>

			
		$(document).on('keypress',function(e) {
			if(e.which == 13) {
				do_search();
			}
		});


		$('#search-button').click(function(){
			do_search();
		});

		var do_search = function(){
			if ($('#search').val().length > 0)
			{
				window.location.href = "{{ url_for('home') }}?search=" + $('#search').val();
			}
		};
	
	</script>
	
{% endblock %}